<div id="inner">
  <div class="index-container">
    <%= render 'shared/index_info'%>
    <%= render 'shared/toggle_button'%>


    <div id="content-container">

      <div data-name="supermarkets">
        <% @supermarkets.each do |supermarket| %>
          <% if supermarket.name == "Rewe" %>
            <div class="supermarket-card">
              <div class="supermarket-card__rewe">
                <%= image_tag "#{supermarket.name.downcase}_logo.png"%>
          <% else %>
            <div class="supermarket-card">
              <div class="supermarket-card__logo">
                <%= image_tag "#{supermarket.name.downcase}_logo.png"%>
          <% end %>
          </div>
            <div class="supermarket-card__info">
              <span class="supermarket-card__info__city"><%= supermarket.name %></span>
              <span class="supermarket-card__info__address"><%= supermarket.address %></span>
            </div>
            <%= link_to "", supermarket_path(supermarket), class: "stretched-link" %>
          </div>
        <% end %>
      </div>

       <div data-name="items">
        <% @supermarkets.each do |supermarket| %>
          <% unless supermarket.products.empty? %>
            <%= supermarket.name %>
            <div class="supermarket-product-cards">

              <% supermarket.products.each do |product| %>
                <div class="product-card">
                  <div class="product-card__image">
                    <% category = product.category.downcase %>
                    <% name = product.name.downcase %>
                    <%= image_tag "#{category}/#{name}.jpg"%>
                  </div>

                  <div class="product-card__info">
                    <div class="product-card__info__header">
                      <span class="product-card__info__header__name"><%= product.name %></span>
                      <span class="product-card__info__header__unit"><%= product.unit %></span>
                    </div>
                    <div class="product-card__info__body">
                      <div class="product-card__info__body__prices">
                        <span class="product-card__info__body__prices__discount"><%= humanized_money_with_symbol(product.discounted_price) %></span>
                        <span class="product-card__info__body__prices__normal"><%= humanized_money_with_symbol(product.full_price) %></span>
                      </div>
                      <button class="product-card__info__body__button"><i class="fas fa-shopping-cart" style="color: white;"></i></button>
                    </div>
                  </div>
                  <%= link_to "", supermarket_product_path(product.supermarket, product), class: "stretched-link" %>
                </div>
              <% end %>

            </div>
          <% end %>
        <% end%>
       </div>

       <!-- MAP -->

       <div data-name="map" id="map" style="width:100%; height:600px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>

</div>
<%= render 'shared/navbar'%>
