<div id="inner">
  <div class="index-container">
    <%= render 'shared/supermarket_info'%>

    <div class="category-filter">
      <span style="padding-left: 8px; color:#3DD26D;">All</span>
      <span>Fruit</span>
      <span>vegetable</span>
      <span>Meat/Fish</span>
      <span>Dairy</span>
    </div>

    <div id="content-container">

       <div data-name="items">
          <% unless @supermarket.products.empty? %>

            <div class="supermarket-product-cards">

              <% @supermarket.products.each do |product| %>
                <div class="product-card">
                  <div class="product-card__image">
                    <% category = product.category.downcase %>
                    <% name = product.name.downcase %>
                    <%= image_tag "#{category}/#{name}.jpg"%>

                  </div>

                  <div class="product-card__info">
                    <div class="product-card__info__header">
                      <span class="product-card__info__header__name"><%= product.name %></span>
                      <span class="product-card__info__header__unit"><%= product.unit %></span>
                    </div>
                    <div class="product-card__info__body">
                      <div class="product-card__info__body__prices">
                        <span class="product-card__info__body__prices__discount"><%= product.discounted_price %></span>
                        <span class="product-card__info__body__prices__normal"><%= product.full_price %></span>
                      </div>
                      <button class="product-card__info__body__button"><i class="fas fa-shopping-cart" style="color: white;"></i></button>
                    </div>
                  </div>
                  <%= link_to "", supermarket_product_path(product.supermarket, product), class: "stretched-link" %>
                </div>
              <% end %>
            </div>
            <span class="supermarket-product-title">Most popular</span>
            <div class="supermarket-product-cards">

              <% @supermarket.products.reverse.each do |product| %>
                <div class="product-card">
                  <div class="product-card__image">
                    <% category = product.category.downcase %>
                    <% name = product.name.downcase %>
                    <%= image_tag "#{category}/#{name}.jpg"%>
                  </div>

                  <div class="product-card__info">
                    <div class="product-card__info__header">
                      <span class="product-card__info__header__name"><%= product.name %></span>
                      <span class="product-card__info__header__unit"><%= product.unit %></span>
                    </div>
                    <div class="product-card__info__body">
                      <div class="product-card__info__body__prices">
                        <span class="product-card__info__body__prices__discount"><%= product.discounted_price %></span>
                        <span class="product-card__info__body__prices__normal"><%= product.full_price %></span>
                      </div>
                      <button class="product-card__info__body__button"><i class="fas fa-shopping-cart" style="color: white;"></i></button>
                    </div>
                  </div>
                  <%= link_to "", supermarket_product_path(product.supermarket, product), class: "stretched-link" %>
                </div>
              <% end %>
            </div>

          <% end %>
       </div>
        <div style="height:94px;"></div>
    </div>
  </div>
  <%= render 'shared/navbar'%>
</div>
