 <div id="inner">
  <div class="order-container">
     <div class="order__header">Order summary</div>
     <p><%= @order.ordered_items.count %> items</p>
     <div class="order__content">


      <% @sorted_products.each do |group| %>
        <div class="supermarket-order-container">
          <div class="">
            <%= group[0].name %>
            <% pick_up_slots = @order.pick_up_slots["#{group[0].id}"] %>
            <div class="pickup-time">
              <%= image_tag "time.png" %>
              <p> Pick up your order on <%= Date.parse(pick_up_slots[0]).strftime("%B %e") %> at <%= pick_up_slots[1] %></p>
            </div>

          </div>
          <% group[1].each do |product| %>
            <div class="item__info">
              <p style="font-size: 18px;"><%= product.last %> x</p>
              <div class="item__info__main">
                <div style="margin: 0 24px;">
                  <div class="order__content__item__info__header">
                    <h2><%= product.first.name %></h2>
                  </div>
                  <p> <%= product.first.unit %>  | best by <%= product.first.best_before_date.strftime("%B %e")%></p>
                </div>
              </div>
               <p style="color: #079145; font-size: 16px; font-weight: normal; margin-top: 8px;"><%= humanized_money_with_symbol(product.first.discounted_price) %></p>
            </div>
          <% end %>
        </div>

      <% end %>
     </div>
     <div class="payment-buttons">
       <button id="pay" class="button-homepage">Pay <%= humanized_money_with_symbol(@order.total_price) %></button>
     </div>
  </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>
const paymentButton = document.getElementById('pay');
paymentButton.addEventListener('click', () => {
  const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
    stripe.redirectToCheckout({
      sessionId: '<%= @checkout_session_id  %>'
    });
});
</script>

