<body style="background: #eaf9ec;">
  <div class="navbar-top">
    <%= link_to supermarket_path(@product.supermarket) do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <%= link_to cart_path do %>
      <i class="fas fa-shopping-cart" style="position: relative;">
        <% if @cart_count && @cart_count != 0 %>
          <div class="cart-count"><%= @cart_count %></div>
        <% end %>
      </i>
    <% end %>
  </div>

  <%= image_tag "#{@product.category.downcase}/#{@product.name.downcase}.jpg", :class => "product-image" %>

  <div class="product-content">
    <div class="product-information">
      <h1 class="product-name"><%= @product.name %></h1>
        <div class="d-flex flex-row" id="product-counter">
          <div>
            <button class="minus-button incrementer minus" type="button" data-offset="-1">
              <i id="minus-icon" class="fa fa-minus" aria-hidden="true"></i>
            </button>
          </div>
        <!-- <input class="input-group-field" type="number" name="quantity" value="1"> -->
          <span id="counter" data-count="1">1</span>
          <div>
            <button class ="plus-button incrementer" type="button" data-offset="1">
              <i id="plus-icon" class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </div>
        </div>
       </div>

      <div class="d-flex justify-content-between">
        <h2 class="product-unit"><%= @product.unit %></h2>
        <h2 class="product-unit">Best by <%= @product.best_before_date.strftime("%B %e") %></h2>
      </div>

      <div class="product-info pt-2">
        <h2 class="product-text">Description</h2>
          <p class="product-description">
            <%= @product.description %>
          </p>
      </div>
  </div>

  <div class="bottom-page">
    <div class="prices d-flex">
      <div class="discounted-price"><%= humanized_money_with_symbol(@product.discounted_price) %></div>
      <div class="full-price" style="text-decoration:line-through"><%= humanized_money_with_symbol(@product.full_price) %></div>
    </div>
    <div class="product-btn product-cart-btn">Add to cart</div>
  </div>

  <%= render "shared/modal" %>

  <script>
    product_id=<%= @product.id %>
    supermarket_id =<%= @product.supermarket.id %>
  </script>
</body>
