
  <% if @product.category == "Fruits" %>
    <img class="product-image" src="https://source.unsplash.com/featured/?fruit?orientation=squarish">
  <% else %>
    <img class="product-image" src="https://source.unsplash.com/featured/?vegetable?orientation=squarish">
  <% end %>

<div class="product-content">
  <div class="product-information">
    <h1 class="product-name"><%= @product.name %></h1>
      <div class="d-flex flex-row">
        <div>
          <button class="minus-button incrementer minus" type="button" data-quantity="minus" data-field="quantity" data-offset="-1">
            <i id="minus-icon" class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </div>
      <!-- <input class="input-group-field" type="number" name="quantity" value="1"> -->
        <span id="counter" data-count="1">1</span>
        <div>
          <button class ="plus-button incrementer" type="button" data-quantity="plus" data-field="quantity" data-offset="1">
            <i id="plus-icon" class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>
      </div>
     </div>

    <h2 class="product-unit"><%= @product.unit %></h2>

    <div class="product-info pt-2">
      <h2 class="product-text">Description</h2>
        <p class="product-description">
          <%= @product.description %>
        </p>
    </div>
</div>

<div class="bottom-page p-4">
  <div class="prices d-flex">
    <div class="discounted-price"><%= @product.discounted_price %></div>
    <div class="full-price" style="text-decoration:line-through"><%= @product.full_price %></div>
  </div>
  <%= link_to "Add to cart", add_to_cart_supermarket_product_path(@product.supermarket, @product), class: "product-btn", method: :post, with: "'count=' + $('#counter').innerText"%>
</div>
